body {
  background-color: #393e46;
}

h2 {
  color: #5cc190;
}

h3 {
  color: #76b053;
}

p {
  color: #D8D8D8;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #D8D8D8;
  font-weight: bold;
}

a:hover {
  color: #5cc190;
}

img {
  width: 300px;
  height: 300px;
  background-size: cover;
  display: inline-block;
  border-radius: 5px;
}

video {
  width: 300px;
  height: 300px;
  background-size: cover;
  display: inline-block;
  border-radius: 5px;
}

td {
  color: #D8D8D8;
  vertical-align: baseline;
}

li {
  color: #D8D8D8;
}

label {
  color: #5cc190;
  vertical-align: top;
}

textarea {
  vertical-align: top;
}

strong {
  color: #76b053;
}

.aligner {
  margin: 50px auto 200px auto;
  line-height: 1.5;
  width: 80%;
}

.scrollbox {
  overflow: scroll;
  width: 33%;
  height: 100px;
  word-wrap: normal;
}

.citing {
  font-size: x-small;
  position: relative;
}

.fullpage {
  width: 100%;
  height: 400px;
}

.dots {
  border: dotted #5cc190 4px;
  width: 4%;
  border-bottom: none;
  margin: 25px auto;
}

.image-list::after {
  content: "";
  clear: both;
  display: table;
}

.image-holder {
  float: left;
  width: 33.33%;
  height: 100%;
  border-radius: 5px;
  display: inline-block;
}

.left-img {
  line-height: normal;
  float: left;
  margin-right: 40px;
}

.right-img {
  line-height: normal;
  float: right;
  margin-left: 40px;
}

.left-text {
  text-align: left;
  height:100%;
  vertical-align:middle;
}

.right-text {
  text-align: right;
  height:100%;
  vertical-align:middle;
}

.center-obj {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* The following CSS was provided by W3Schools for the carousel */
* {
  box-sizing: border-box
}

.slideshow-container {
  position: relative;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 170px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}
